/Viz/dlib-19.22.99-cp39-cp39-win_amd64.whl
/Viz/venv/
/Viz/face-morphing-multiple-images-main/OUTPUT/
/Viz/face-morphing-multiple-images-main/rawimgs/
/Viz/face-morphing-multiple-images-main/temp/
/Viz/face-morphing-multiple-images-main/alignedimgs/
/pythonProject/.idea/
/Other/output.avi
/gmailPyProject/token.json
/gmailPyProject/credentials.json
/gmailPyProject/credez.json

